DISCORD_TOKEN=

DATABASE_URL=

STRIPE_SECRET_KEY_OCCULT=
STRIPE_SECRET_KEY_SIDE=
STRIPE_SECRET_KEY_OXS=

STRIPE_WEBHOOK_SECRET_OCCULT=
STRIPE_WEBHOOK_SECRET_SIDE=
STRIPE_WEBHOOK_SECRET_OXS=

LOG_GUILD_ID=
LOG_CATEGORY_ACTIVE=
LOG_CATEGORY_ARCHIVE=

GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=